
body{
    background: #ddd;
    padding: 10px;
}

.comment_card, .reply_card, .add_comment {
    background: white;
    padding: 17px;
    border-radius: 8px;
    width: 500px;
    margin-bottom: 15px;
}
.reply_card{
    width: 465px;
    margin-left: 35px;
}
.reply_body a {
    text-decoration: none;
    color: rgb(65, 52, 207);
}


.comment_header, .reply_header {
    display: flex;
    align-items: center;
}

.comment_header h3, .reply_header h3 {
    margin: 0 10px;

}

.comment_header img, .reply_header img, .add_comment img{
    height: 30px;
}


.comment_footer, .reply_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.minus,
.plus {
    width: 20px;
    height: 20px;
    padding: 3px;
    display: inline-block;
    text-align: center;
    cursor:pointer;
    color: rgb(171, 171, 197);
}
.btn{
    background: transparent;
    border: none;
    color:  rgb(65, 52, 207);
    cursor:pointer;
}

.comment_counter, .reply_counter{
    background: #ddd;
 
    width: auto;
    border: none;
    border-radius: 6px;
    color: rgb(65, 52, 207);
}
.reply_wrapper{
border-left: ridge;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.add_comment textarea {
    width: 100%;
    resize: vertical;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 15px;
}
.add_comment div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.send_btn{
    background: rgb(65, 52, 207);;
    color:  white;
    cursor:pointer;
    padding: 10px 20px;
    border-radius: 6px;
}

@media (max-width: 400px) {
    .comment_card, .add_comment {
        width: 300px;
    }  
    .reply_card{
        width: 265px;
    }
}